@tailwind base;
@tailwind components;
@tailwind utilities;



/* navlink active */
.navlist a.active{
    color: #569BD3;
}



/* loading */
.loading{
    font-size: 42px;
    font-weight: 700;
    color: #569BD3;
    animation: loading 0.5s ease-in-out forwards 1s;
}
@keyframes loading {
    0%{
        transform: translateY(-10px);
    }
    10%{
        transform: translateY(10px);
    }
    20%{
        transform: translateY(-10px);
    }
    30%{
        transform: translateY(10px);
    }
    40%{
        transform: translateY(-10px);
    }
    50%{
        transform: translateY(10px);
    }
    60%{
        transform: translateY(-10px);
    }
    70%{
        transform: translateY(10px);
    }
    80%{
        transform: translateY(-10px);
    }
    90%{
        transform: translateY(10px);
    }
    90%{
        transform: translateY(0px);
    }
}